:root{
    --text-color: #fff;
    --popup-background: #2a2f33;
    --desktop-font-size: 20px;
}
.modal-container-outside{
    position: absolute;
    top: 0px;
    left: 0px;
    width:100%;
    z-index: 99;
    color: var(--text-color);
    height: 100%;
    backdrop-filter: blur(5px);
    transition: 2s ease-in-out;
}
.modal-container-inner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-53%);
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 45px;
    padding-bottom: 45px;
    text-align: center;
    border-radius: 2px;
    display: block;
    box-shadow: 10px 10px 30px black;
    background-color: var(--popup-background);
}
.modal-buttons{
    margin-top: 20px;
}
.model-title{
        padding-left: 10px;
        padding-right: 10px;
        font-size: var(--desktop-font-size);
}
.modal-button{
    display: inline-block;
    height: 30px;
    width: 20%;
    min-width: 40px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 5px;
    border-radius: 2px;
    cursor: pointer;
    line-height: 1.5em;
    background-color: var(--popup-background);
    box-shadow: 3px 3px 12px 0 #171a1dbe, -3px -3px 12px 0 #434a50be;
}
.noselect{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.modal-button:hover{
    box-shadow: 3px 3px 5px 0 #171a1dbe, -3px -3px 5px 0 #434a509b;
}
.modal-button:active{
    box-shadow: 3px 3px 12px 0 #171a1dbe inset, -3px -3px 12px 0 #434a50be inset;
}
@media (max-width: 750px){
    .model-title,.modal-button{
        font-size: 14px;
    }
    .modal-container-inner{
        margin-left: 0px;
        width: 70%;
        margin-right: 0px;
    }
    .modal-button{
        margin: 2%;
        display: inline-block;
        padding: 10px;
        height: 20px;
        line-height: 1.5em;
        width: 15%;
    }
    .modal-container-inner{
        padding: 30px;
    }
}