.inputbutton{
    border: none;
    width: auto;
    margin: 3px;
    color: #d6d8da;
    background: none;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
}
.inputbutton:hover{
    border-radius: 20px;
    background-color: #232b2f;
}
.inputbutton:active{
    box-shadow:	0px 0px 5px #75838a ;
}

.panelheading{
    font-size: 20px;
}
.input{
    border: none;
    border-bottom: 1px solid rgb(167, 165, 165);
    background: none;
    outline: none;
    flex-grow: 1;
    min-width: 50px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    padding-bottom: 0px;
}  
.inputbox{
    border-radius: 40px;
    padding: 5px;
    color: #d6d8da;
    background-color: #2d383e;
    display: flex;
    box-shadow: 1px 1px 3px black;
}
#panelbody{
    scrollbar-width: 0px;
    height: 80%;
}

  /* Message bubble */
.message{
    text-align: left;
    padding: 10px;
    max-width: 80%;
    margin-right: 50px;
    border-radius: 10px;
    word-wrap: break-word;
    /* box-shadow:	0 5px 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2); */
}


.panelstyling{
    display: flex;
    background-color: inherit;
    height: 90vh;
    overflow:auto;
    min-height: 20px;
}
.send{
    background-color: #054740;
    display: inline; 
    float: right;
    margin-right: 5px;
    color: #d6d8da;
}
.received{
    background-color: #222e35;
    display: inline;
    float: left; 
    color: #d6d8da;
    margin-left: 5px;
}

.add{
    width: 20%;
    margin: 3%;
}

.chatbob{
    width: 50%;
    height: 100%;
}

@media( max-width: 800px) {
    .panelstyling{
        display: block;
        height: 93.2vh;
    }
    .panelheading{
        font-size: 15px;
    }
    /* .addleft{
        width: auto;
        height: 10%;
    } */
    .add{
        width: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        height: 10%;
    }

    .chatbob{
        width: 100%;
        height: 74%;
        margin-left: 0%;
    }
    .inputsend{
        width: 100%;
    }
    .imputbutton{
        width: 10%;
    }
    .input{
        width: 70%;
    }
    .messageBox{
        width: 100%;
        margin-left: 0vw;
        height: 70vh;
    }
}
  ::-webkit-scrollbar {
    width: 20px;
    display: none;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    /* border-radius: 10px; */
    width: 5px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(187, 187, 187);
    width: 3px; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(187, 187, 187); 
  }
