.homePanel{
    margin-right: 25%;
    margin-left: 25%;
    font-size: 19px;
    display: block;
    color: rgb(149, 149, 149);
    background:none;
    border-radius: 30px; padding-top: 10px;
}
.startbtn{
    background-color: #054740;
    color: rgb(233, 233, 233);
    padding: 10px;
    margin: 30px;
    border: none;
    border-radius: 5px;
}
.para{
    padding-left: 10%; 
    padding-right: 10%; 
    padding-top: 40px;
}

.startbtn:hover{
    color: rgb(238, 238, 238);
    /* border: 2px solid rgb(255, 253, 253); */
    box-shadow: 0px 0px 10px 0px #033d36, 0px 0px 40px  #033d36;
}

@media screen and (max-width:600px){
    .homePanel{
        font-size: 14px;
        font-style: italic;
        margin-right: 0px;
        margin-left: 0px;
    }
    .para{
        font-size: 14px;
    }
}