.topnav {
    overflow: hidden;
    background-color: rgba(230, 224, 224, 0);
  }
  .topnav a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    font-size: 15px;
    font-weight: bolder;
    background-color: #ffffff00;
  }
  
  .topnav a:hover {
    color: black;
  } 
  .button{
    text-decoration: none;
    border-radius: 10px;
    margin-left: 5px;
    float: right; 
    margin-right: 5vw; 
    margin-top: 10px;
    text-decoration: none;
    display: block;
    color: rgb(149, 149, 149);
    text-align: center;
    padding: 14px 16px;
    font-size: 15px;
    font-weight: bolder;
    font-style: italic;
  }
  .button:hover{
    color: white;
  }
  .topnav a.active {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
  }
  
  .topnav .icon {
    display: none;
  }


  .logo{
    text-decoration: none;
    border-radius: 10px;
    margin-left: 5px;
    float: left; 
    margin-right: 5vw; 
    margin-top: 10px;
    text-decoration: none;
    display: block;
    color: rgb(149, 149, 149);
    text-align: center;
    padding: 14px 16px;
    font-size: 15px;
    font-weight: bolder;
    font-style: italic;
  }
  
@media (max-width: 800px) {
  .topnav a {
    font-size: 14px;
    height: 5%;
  }

  .button{
    font-size: 14px;
  }
}