<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
{% include 'base/css.html' %}
</head>
<body>
    <div id="app">
        <div class="col-mn-12" style="background-color: aqua; height: 30px;">
                
                    <!-- Online<% onLine %> -->
        </div>
{% include 'home.html' %}
{% include 'chat.html' %}
    </div>
</body>
{% include 'base/js.html' %}
</html>