        <div v-if="currentpage == 'Chat'">
            <div class="panelstyling">
                <!-- Advertisement Left-->
                <div class="add"></div>
                
                <div class="chatbob">
                    <div class="panelheading text-center">
                        <div style="color: white;">
                            <%status%>
                        </div>
                    </div>

                    <div id="panelbody" style="overflow-y: scroll; overflow-x: hidden;">
                        <div v-for="(message, index) in chat_messages" @load="scrollToBottom">
                                <div style="margin-top: 5px; overflow:auto; height: auto; min-height: 20px;">
                                    <div style="">
                                        <div v-if="message.from == 'self'">
                                            <div class="message" style="display: inline; float: right;">
                                                <div style="color: rgb(42, 106, 165);">You: </div>
                                                <%message.message%>
                                                <br>
                                                <div style="float: left; font-size: 12px;">
                                                    <%(new Date).getHours()%>:<% (new Date).getMinutes() %>
                                                </div>
                                            </div>
                                        </div>
                                        <div v-else>
                                            <div class="message" style="display: inline; float: left; margin-left: 5px;">
                                                <div style="color: brown;">Stranger: </div>
                                                <%message.message%>
                                                <br>
                                                <div style="float: right; font-size: 12px;">
                                                    <%(new Date).getHours()%>:<% (new Date).getMinutes() %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                    <div style="height:5px; padding-left: 20px; font-size: 12px; color: white;">
                        <% typing %>
                    </div>
                    <div class="panel-footer text-center" style="margin-top: 10px; background-color: inherit; border: none;">
                        <div class="inputbox" @keyup="inputBoxEvents(event);">
                            <button class="inputbutton" title="ESC" @click="changeUserStatus">
                                <% new_user %>
                            </button>
                            <input class="input" autofocus type="text" name="" :disabled="partner? false : true" id="msgbox" v-model="message">
                            <button class="inputbutton" style="display: flex;" :disabled="partner? false : true" @click="sendmsg"> <div>Send</div>&nbsp;<div class="glyphicon glyphicon-send"></div></button>
                        </div>
                    </div>
                </div>

                <!-- Advertisement Right-->
                <div class="add"></div>
            </div>
        </div>
