        <div v-if="currentpage == 'Chat'">
            <div class="panelstyling">
                <!-- Advertisement Left-->
                <div class="add left"></div>
                
                <div class="chatbob">
                    <div class="panelheading text-center">
                        <div style="color: white; height: 5%; font-size: 12px;">
                            <%status%>
                        </div>
                    </div>
                    <div id="panelbody">
                        <div v-for="(message, index) in chat_messages" @load="scrollToBottom">
                                <div style="margin-top: 5px; overflow:auto; height: auto; min-height: 20px;">
                                    <div>
                                        <div v-if="message.from == 'self'">
                                            <div class="message send">
                                                <%message.message%>
                                                <br>
                                                <div id="time">
                                                    <sup>&nbsp;&nbsp;&nbsp;<%(new Date).getHours()%>:<% (new Date).getMinutes() %></sup>
                                                </div>
                                            </div>
                                        </div>
                                        <div v-else>
                                            <div class="message received">
                                                <%message.message%>
                                                <br>
                                                <div id="time">
                                                    <sup>&nbsp;&nbsp;&nbsp;<%(new Date).getHours()%>:<% (new Date).getMinutes() %></sup>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                    
                    <div class="inputboxContainer text-center" style="position: absolute; bottom: 0%; margin-bottom: 20px; border: none;">
                        <div style="height:5px; padding-left: 20px; float: left; font-size: 12px; bottom:3%; color: white;">
                            <% typing %>
                        </div>
                        <br>
                        <div class="inputbox" @keyup="inputBoxEvents(event);">
                            <div class="inputbutton" title="ESC" @click="changeUserStatus">
                                <% new_user %>
                            </div>
                            <input class="input" autofocus type="text" name="" :disabled="partner? false : true" id="msgbox" v-model="message">
                            <div class="inputbutton" style="display: flex;" :disabled="partner? false : true" @click="sendmsg"><span class="glyphicon glyphicon-send"></span></div>
                        </div>
                        
                    </div>
                </div>

                <!-- Advertisement Right-->
                <div class="add right"></div>
            </div>
        </div>
